[Unit]
Description=zapret2 ip/host list update

[Service]
Restart=no
IgnoreSIGPIPE=no
KillMode=control-group
GuessMainPID=no
RemainAfterExit=no
ExecStart=/opt/zapret2/ipset/get_config.sh

[Install]
WantedBy=multi-user.target
